{% extends "base.html"%}
{%block title%} Welcome! {%endblock%}

{% block style %}
    <style>
    body {
      min-height: 2000px;
    }
    
    .navbar-static-top {
      margin-bottom: 19px;
    }
    </style>
{% endblock %}

{% block content%}
 <h1>HELLO!! {{numbers}}</h1>
<div class='col-sm-6'>
    <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#register" aria-controls="home" role="tab" data-toggle="tab">Register</a></li>
    <li role="presentation"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>

  <!-- Tab panes -->
  <div class="tab-content">
    <h3>Register</h3>
    <div role="tabpanel" class="tab-pane active" id="register">
        <form method="POST" action='{% url "register"%}'> {% csrf_token%}
     {{register_form.as_p}}
     <input class="btn btn-default"type="Submit" value="register">
 </form>
    </div>
    <div role="tabpanel" class="tab-pane" id="login">
        <h3>Register</h3>
    <div role="tabpanel" class="tab-pane active" id="register">
        <form method="POST" action='{% url "login"%}'> {% csrf_token%}
             {{login_form.as_p}}
     <input class="btn btn-default"type="Submit" value="Login">
 </form>
    </div>

  </div>

</div>
</div>
{% block jumbotron%}
<div class="jumbotron">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="m-y-2">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
{% endblock%}


 {% if recent_videos%}
{%for video in recent_videos%}
   <div> <a href="{{video.get_absolute_url}}">{{video}}</a><br/>
         <a href="{{video.get_absolute_url}}"><img src="{{vid.category.get_img_url}}" class="img-responsive" /></a><br/>
   </div>
{%endfor%}

{% endif%}
 
{% endblock%}


