{% extends "base.html"%}
{%block title%} Welcome! {%endblock%}

{% block style %}
    <style>
    body {
      min-height: 2000px;
    }
    
    .navbar-static-top {
      margin-bottom: 19px;
    }
    </style>
{% endblock %}

{% block content%}
 <h1>HELLO!! {{numbers}}</h1>
 <form method="POST" action=""> {% csrf_token%}
     {{form.as_p}}
     <input class="btn btn-default"type="Submit" value="register">
 </form>
 {% for video in videos %}
   <h3>{{video.title}} {{forloop.counter}}</h3>
   {{video.embed_code | safe}}
   <br/>
   <a href="{{video.get_absolute_url}}"> {{video.title}} {{video.get_absolute_url}}</a>
  {% endfor %}
  
  <h2>Video Embeds</h2>
  {% for embed in embeds %}
      {{embed}}
  {%endfor%}
{% endblock%}