{% extends "base.html"%}
{% load crispy_forms_tags%}
{%block title%} {%endblock%}

{%block style%} 
    <style>
        .reply_comment{
        display: none;
        }
    </style>
{% endblock %}


{%block jquery%} 
    <script>
        $(document).ready(function(){
            function update_iframe_size(){
                $("iframe").css("width","100%");
                $("iframe").css("height","500px");
            
                var parent_width =  $("#main_video iframe").parent().width() * 0.95;
                                    
                var parent_class =  $("#main_video iframe").parent().attr("class");
                              
                
                var width = $('#main_video iframe').css("width");
                var height = $('#main_video iframe').css("height");
                var ratio = parseInt(height)/parseInt(width);
                var new_height = parseInt(parent_width)* ratio;
                $("iframe").css("#main_video width",parent_width);
                $("iframe").css("#main_video height", new_height);
                
            }
            update_iframe_size();
        
            $(window).bind("resize",function(){
                update_iframe_size();
            })
        
            $('.reply_btn').click(function(e){
                e.preventDefault();
                $(this).next().next(".reply_comment").fadeToggle();
            });
        });
    </script>
{% endblock %}



{% block content%}
<div class="row">
    <div class='col-sm-10 col-offset-2' id='main_video'>
        {{ object.embed_code | safe }}
    </div>
    <div class="col-sm-12">
        {%if object.tags %}
            {% for tag in object.tags.all %}
                <li>{{tag}}</li>
            {%endfor%}
        {% endif %}
    </div>
        
    <br />
    <a href="https://twitter.com/home?status= {{object.get_share_message | safe}}"><i class="fa fa-twitter" aria-hidden="true"></i>

Share on Twitter
</a>
</div>
{% if object.get_previous_url %}
    <a href="{{object.get_previous_url}}">Previous</a>
{% elif object.get_next_url %}
    <a href="{{object.get_next_url}}">Next</a>
{% endif %}
<br/>
<hr/>
<div class="row">
    <div class='col-sm-12'>
        <h2>Comments/Questions</h2>
        <form method="POST" action="{% url 'comment_create'%}">{% csrf_token%}
            <input type='hidden' name="origin_path" value="{{request.get_full_path}}">
            {% crispy comment_form comment_form.helper%}
        </form>
        
            
        <table class="table">
        
            {% for comment in comments %}
                
                   
                
               {%if not comment.is_child%}
              
               <tr><td>{{comment.text}} <small>via {{comment.user.username}} | {{comment.timestamp|timesince }}</small>
                                                 
                                        <ul>
                                            {% for child in comment.get_children%}
                                                <li>{{child.text}} <small>via {{child.user}}</small></li>
                                                 
                                            {% endfor %}
                                             
                                        </ul>
                                        <br/> <a href="#" class="reply_btn">Reply</a> | <a href="{{comment.get_absolute_url}}" class="">View Thread</a>
                                        <div class='reply_comment'>
                                                        <form method="POST" action="{% url 'comment_create'%}">{% csrf_token%}
                                                            <input type='hidden' name="origin_path" value="{{request.get_full_path}}">
                                                            <input type='hidden' name="parent_id" value="{{comment.id}}">
                                                            {% crispy comment_form comment_form.helper%}
                                                            
                                                        </form>
                                                    </div>
                                        
                                   
                </td></tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div>
</div>
   
{% endblock%}